@use '../../sass/mixins'
@use '../../sass/variables'

.formats
    margin-bottom: 40px
    &__btn
        padding: 15px 10px
        height: 50px
        min-width: 50px
        border: 1px solid black
        margin-right: 20px
        cursor: pointer
        background-color: variables.$secondary-color
        text-transform: uppercase
        font-size: 1.2rem
        font-weight: 400
        transition: .3s
        &.formats__btn--active
            background-color: variables.$main-color
            color: variables.$secondary-color
            &:hover
                background-color: variables.$main-color
                color: variables.$secondary-color
        &:hover
            background-color: variables.$gray-button
            color: variables.$secondary-color
