@use '../../sass/mixins'
@use '../../sass/variables'

.submenulink
    +mixins.positioning(flex,row,center,center,nowrap)
    height: 100%
    &.submenulink--active
        font-style: italic
        border-top: 1px solid variables.$main-color
        border-bottom: 1px solid variables.$main-color
    &__link
        font-family: variables.$second-font
        color: variables.$main-color
        text-decoration: none
        text-transform: uppercase
        font-size: 1.4rem
        letter-spacing: 0.6px
        transition: .3s
        &:hover
            color: variables.$text-hover-color
