@use '../../sass/mixins'
@use '../../sass/variables'

.shop
    padding: 120px 6vw
    &__listing
        position: relative
        +mixins.positioning(flex,row,space-between,stretch,wrap)
        row-gap: 2.65vw
        padding-top: 70px
        margin: 0 6vw
        min-height: 500px
